
a{
    display: inline;
    padding: 8px;
    border-radius:10px;
    border-style: solid;
    border-color:black;
    background-color: #dce30f;
    text-decoration: solid;
  }
nav{
    background-color: rgb(129, 11, 197);
    padding: 8px;
}
form{
    display: inline;
    margin-left:50%;
    margin-right: auto;
}
body{
    background-color:rgba(57, 29, 134, 0.776);
}
div{
    border-style: solid;
    border-color: rgb(11, 1, 12);
    display:block;
    background-color: rgb(85, 157, 17);

}
p{
    color: rgb(1, 25, 17);
    font-size: large;
  
}
img{
    width: 200px;
    
}